
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

h1,p{
  margin:.1rem;
  text-align: left;
}

button{
  margin-top: .5rem;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1{
  font-weight:400;
}
p{
 font-weight: 300;
}

ul {
  list-style-type: none;
}

body{
  /* background-color: greenyellow; */
 
  font-family: "Roboto",serif;
}


#navbar {
  overflow: hidden;
  background-color: #f1f1f1;
  /* padding: 10px; Large padding which will shrink on scroll (using JS) */
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99;
  
}

/* Style the navbar links */
#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo */
#navbar #logo {
  /* padding: 1.5rem; */
  /* background-color: chartreuse; */
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

#logo img{
  margin-right: 8px;
  width: 100px;
}

/* Links on mouse-over */
#navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link */
/* #navbar a.active {
  background-color: dodgerblue;
  color: white;
} */

/* Display some links to the right */
#navbar-right {
  /* background-color: chartreuse; */
  float: left;
  margin-top: 50px;
  
 
}



.content{
    text-align: center;
    padding: 120px 200px;
    /* background-color: chocolate; */
    /* width: 100%; */
    /* max-width: 100% !important;
    overflow-x: hidden !important;
    min-height: 900px; */
    overflow: hidden;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(131, 54, 54); */
}

.parallax{
  background-image: url("https://i.ibb.co/4pMt427/image.png");
  margin: 1rem 0rem ;
  padding: 0em ;

  overflow:visible;
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  
}


.container .col{
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  width: 100%;
  
}

.row{
  /* background-color: rgb(149, 109, 56); */
  display: flex;
  flex-direction: row;
  margin-top: 3.7em;
  width: 100%;

  /* align-items: center; */
}

.row [class*="article-"]{
  flex-grow: 1;
  /* background-color: rgb(199, 105, 38); */
  
}


 .row-front-page{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  width: 100%;
  justify-content: center;
  /* background-color: hotpink; */

}

.row-front-page div{
  flex-basis: 0;
  width: 100%;
  /* background-color: crimson; */

}


/* .row-front-page img{
  width: 600px;
} */




.article-1{
  /* background-color: #04AA6D; */
  padding: .5rem;
  margin: 1rem;
  flex-grow: 1;
  /* flex-shrink: .1; */
  /* width: 100%; */
  /* max-width: 1469px; */

}

.article-1 h1{
  font-size: 4rem;
}

.article-1 p{
  font-size: 2.25rem;
}

.article-2{
  padding: .5em;
}

.article-2 h1{
  font-size:18px;
}

.article-2 p{
  font-size:16px;
}

#img-4{
  background-color: aqua;
  margin-top: 3.6em;
  width: 100%;
}
#img-2{
  width: 300px;
}

.img-1 img{
  flex-basis: 100%;
  flex-shrink: 1;
  background-color: aquamarine;
  width: 600px;
}

.reservation{
  padding-top: 10.3em;

}
.reservation h1{
  text-align: center;
  font-size: 4em;
}

.reservation p{
  text-align: center;
  padding-bottom: 1.06em;
  font-size: 1.5em;
}

.form{
  /* display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 0; */
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.form input,select{
  height: 50px;
  margin:.1rem;
  flex-grow: 1;
}

/* #submit{
  flex-grow: 1;
  flex-shrink: 1;
  background-color: salmon;

} */


#round-image{
  margin-top: .1em;
  padding: .5em;
}
#round-image img{
    border-radius: 50%;
    width: 200px;
}

.footer{
  position: relative;
  height: 10.75em;
  /* background-color:#1D1E22; */
  color: #000000;
}


.footer img{
  width: 100%;
  padding: .5rem;
}

.copyright{
  /* display: flex;
  justify-content: end; */
  width: 100%;
  height: 2rem;
  background-color: #F2F1EC;
  position: absolute;
  bottom:0;
  text-align: center;
}

#footer-1{
  height: 100%;
}

#footer-1 div{
  width: 100%;
  padding: 1rem;
}

.contact{
  /* background-color: blue; */
}

.social img{
  width: 15px;
  padding: 0px;
  margin:0rem .5rem;
}


.contact img{
  width: 15px;
  padding: 0px;
  margin:0rem .5rem;
}

@media (min-width: 175px) {
  h1,p{
    text-align: center;
    
  }
  button{
    width:150px;
    height: 35px;
  }

  .article-1 h1{
    font-size: 2.25rem;
  }
  
  .article-1 p{
    font-size: 1rem;
  }

  .content{
    padding: 11rem 1rem;
  }

  .img-1 img{
    width: 300px;
  }

  #img-2{
    width:150px;
  }

  #round-image img{
    width: 95px;
  }

  .long-text{
    display: none;
  }

  #logo img{
    margin-right: 8px;
    width: 50px;
  }

  #logo h6{
      /* padding: 1.5rem; */
      /* background-color: chartreuse; */
      font-size: 15px;
      font-weight: bold;
      transition: 0.4s;
  }

  #navbar{
    padding : .1rem;
  }
  .footer{
    height: 12.75em;
  }
}

@media (min-width: 768px) {
  h1,p{
    text-align: center;
  }

  button{
    width: 250px;
    height: 50px;
  }

  .article-1 h1{
    font-size: 2.5rem;
  }
  
  .article-1 p{
    font-size: 1.25rem;
  }

  .article-1 button{
    height: 50px;
  }


  .content{
    padding: 11rem  1rem;
  }



}

@media (min-width: 992px) { 
  h1,p{
    text-align: left;
  }

  button{
    width: 250px;
    height: 50px;
    float: left;
  }
  .article-1 h1{
    font-size: 4rem;
  }
  
  .article-1 p{
    font-size: 2.25rem;
  }

  .article-1 button{
    height: 70px;
  }

  .content{
    padding: 15.5rem 200px;
  }

  .img-1 img{
    width: 600px;
  }
  #img-2{
    width:300px;
  }

  .long-text{
    display: inline;
  }
  .short-text{
    display: none;
  }


  #logo img{
    margin-right: 8px;
    width: 100px;
  }

  #logo h6{
    /* padding: 1.5rem; */
    /* background-color: chartreuse; */
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
}
   

}


/* 
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and above till next break point)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and above till next break point)
@media (min-width: 992px) { ... } */
